<h1> Calculate your bmi!</h1>
<form class="form-group" action="/login" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="name" id="name" name="name" required>
    </div>
  
    <div>
      <label for="weight">Weight:</label>
      <input type="weight" id="weight" name="weight" required>
    </div>

    <div>
        <label for="height">Height:</label>
        <input type="height" id="height" name="height" required>
      </div>
  
    <div>
      <button class="btn btn-primary" type="submit">submit</button>
    </div>
  </form>