<!DOCTYPE html>
<html>
<head>
  <title>Display BMI Information</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      padding: 20px;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    .bmi-info {
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      margin: 0 auto;
      max-width: 400px;
    }
  </style>
</head>
<body>
  <div class="bmi-info">
    <h1> <%= name%>, your bmi is <%= bmi%>, you are <%= testVar%></h1>
  </div>
</body>
</html>
